@import url("https://fonts.googleapis.com/css?family=Barlow:500|Poppins:700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

:root {
    --background-blur: ;
    --background-blur-2: ;
    --black: rgba(0, 0, 0, 1);
    --blue-1: rgba(235, 243, 255, 1);
    --blue-2: rgba(215, 231, 254, 1);
    --blue-3: rgba(175, 208, 254, 1);
    --blue-4: rgba(94, 160, 253, 1);
    --blue-5: rgba(11, 111, 251, 1);
    --blue-6: rgba(4, 103, 241, 1);
    --blue-7: rgba(3, 94, 221, 1);
    --blue-8: rgba(3, 86, 185, 1);
    --btn-large-link-font-family: "Poppins-Bold", Helvetica;
    --btn-large-link-font-size: 16px;
    --btn-large-link-font-style: normal;
    --btn-large-link-font-weight: 700;
    --btn-large-link-letter-spacing: 0px;
    --btn-large-link-line-height: 24px;
    --btn-large-normal-font-family: "Poppins-Bold", Helvetica;
    --btn-large-normal-font-size: 16px;
    --btn-large-normal-font-style: normal;
    --btn-large-normal-font-weight: 700;
    --btn-large-normal-letter-spacing: 0px;
    --btn-large-normal-line-height: 24px;
    --btn-medium-link-font-family: "Poppins-Bold", Helvetica;
    --btn-medium-link-font-size: 14px;
    --btn-medium-link-font-style: normal;
    --btn-medium-link-font-weight: 700;
    --btn-medium-link-letter-spacing: 0px;
    --btn-medium-link-line-height: 24px;
    --btn-medium-normal-font-family: "Poppins-Bold", Helvetica;
    --btn-medium-normal-font-size: 14px;
    --btn-medium-normal-font-style: normal;
    --btn-medium-normal-font-weight: 700;
    --btn-medium-normal-letter-spacing: 0px;
    --btn-medium-normal-line-height: 24px;
    --btn-small-link-font-family: "Poppins-Bold", Helvetica;
    --btn-small-link-font-size: 12px;
    --btn-small-link-font-style: normal;
    --btn-small-link-font-weight: 700;
    --btn-small-link-letter-spacing: 0px;
    --btn-small-link-line-height: 24px;
    --btn-small-normal-font-family: "Poppins-Bold", Helvetica;
    --btn-small-normal-font-size: 12px;
    --btn-small-normal-font-style: normal;
    --btn-small-normal-font-weight: 700;
    --btn-small-normal-letter-spacing: 0px;
    --btn-small-normal-line-height: 24px;
    --caption-large-medium-font-family: "Poppins-Medium", Helvetica;
    --caption-large-medium-font-size: 14px;
    --caption-large-medium-font-style: normal;
    --caption-large-medium-font-weight: 500;
    --caption-large-medium-letter-spacing: 0px;
    --caption-large-medium-line-height: 22px;
    --caption-large-medium-link-font-family: "Poppins-SemiBold", Helvetica;
    --caption-large-medium-link-font-size: 14px;
    --caption-large-medium-link-font-style: normal;
    --caption-large-medium-link-font-weight: 600;
    --caption-large-medium-link-letter-spacing: 0px;
    --caption-large-medium-link-line-height: 22px;
    --caption-large-regular-font-family: "Poppins-Regular", Helvetica;
    --caption-large-regular-font-size: 14px;
    --caption-large-regular-font-style: normal;
    --caption-large-regular-font-weight: 400;
    --caption-large-regular-letter-spacing: 0px;
    --caption-large-regular-line-height: 22px;
    --caption-small-12-16-medium-font-family: "Poppins-Medium", Helvetica;
    --caption-small-12-16-medium-font-size: 12px;
    --caption-small-12-16-medium-font-style: normal;
    --caption-small-12-16-medium-font-weight: 500;
    --caption-small-12-16-medium-letter-spacing: 0px;
    --caption-small-12-16-medium-line-height: 16px;
    --caption-small-12-16-regular-font-family: "Poppins-Regular", Helvetica;
    --caption-small-12-16-regular-font-size: 12px;
    --caption-small-12-16-regular-font-style: normal;
    --caption-small-12-16-regular-font-weight: 400;
    --caption-small-12-16-regular-letter-spacing: 0px;
    --caption-small-12-16-regular-line-height: 16px;
    --caption-small-12-16-strike-font-family: "Poppins-Regular", Helvetica;
    --caption-small-12-16-strike-font-size: 12px;
    --caption-small-12-16-strike-font-style: normal;
    --caption-small-12-16-strike-font-weight: 400;
    --caption-small-12-16-strike-letter-spacing: 0px;
    --caption-small-12-16-strike-line-height: 16px;
    --caption-small-12-18-medium-font-family: "Poppins-Medium", Helvetica;
    --caption-small-12-18-medium-font-size: 12px;
    --caption-small-12-18-medium-font-style: normal;
    --caption-small-12-18-medium-font-weight: 500;
    --caption-small-12-18-medium-letter-spacing: 0px;
    --caption-small-12-18-medium-line-height: 18px;
    --caption-small-12-18-regular-font-family: "Poppins-Regular", Helvetica;
    --caption-small-12-18-regular-font-size: 12px;
    --caption-small-12-18-regular-font-style: normal;
    --caption-small-12-18-regular-font-weight: 400;
    --caption-small-12-18-regular-letter-spacing: 0px;
    --caption-small-12-18-regular-line-height: 18px;
    --caption-small-12-18-strike-font-family: "Poppins-Regular", Helvetica;
    --caption-small-12-18-strike-font-size: 12px;
    --caption-small-12-18-strike-font-style: normal;
    --caption-small-12-18-strike-font-weight: 400;
    --caption-small-12-18-strike-letter-spacing: 0px;
    --caption-small-12-18-strike-line-height: 18px;
    --divider-bottom: ;
    --divider-highlight-bottom: ;
    --divider-highlight-right: ;
    --divider-left: ;
    --divider-right: ;
    --divider-top: ;
    --gray-1: rgba(244, 243, 247, 1);
    --gray-10: rgba(144, 136, 170, 1);
    --gray-11: rgba(133, 124, 162, 1);
    --gray-12: rgba(122, 112, 153, 1);
    --gray-13: rgba(112, 102, 143, 1);
    --gray-14: rgba(103, 93, 131, 1);
    --gray-15: rgba(93, 85, 119, 1);
    --gray-16: rgba(84, 76, 107, 1);
    --gray-17: rgba(75, 68, 95, 1);
    --gray-18: rgba(65, 59, 84, 1);
    --gray-19: rgba(56, 51, 72, 1);
    --gray-2: rgba(233, 231, 238, 1);
    --gray-20: rgba(47, 42, 60, 1);
    --gray-21: rgba(32, 29, 41, 1);
    --gray-22: rgba(28, 25, 36, 1);
    --gray-23: rgba(19, 17, 24, 1);
    --gray-24: rgba(9, 8, 12, 1);
    --gray-3: rgba(222, 219, 230, 1);
    --gray-4: rgba(211, 207, 221, 1);
    --gray-5: rgba(200, 195, 213, 1);
    --gray-6: rgba(189, 183, 204, 1);
    --gray-7: rgba(178, 171, 196, 1);
    --gray-8: rgba(166, 160, 187, 1);
    --gray-9: rgba(155, 148, 179, 1);
    --green-1: rgba(239, 251, 244, 1);
    --green-2: rgba(222, 247, 233, 1);
    --green-3: rgba(190, 239, 211, 1);
    --green-4: rgba(141, 226, 178, 1);
    --green-5: rgba(108, 218, 156, 1);
    --green-6: rgba(59, 206, 123, 1);
    --green-7: rgba(49, 196, 113, 1);
    --green-8: rgba(45, 180, 103, 1);
    --headline-h1-font-family: "Poppins-Bold", Helvetica;
    --headline-h1-font-size: 96px;
    --headline-h1-font-style: normal;
    --headline-h1-font-weight: 700;
    --headline-h1-letter-spacing: 0px;
    --headline-h1-line-height: 104px;
    --headline-h2-font-family: "Poppins-Bold", Helvetica;
    --headline-h2-font-size: 60px;
    --headline-h2-font-style: normal;
    --headline-h2-font-weight: 700;
    --headline-h2-letter-spacing: 0px;
    --headline-h2-line-height: 68px;
    --headline-h3-font-family: "Poppins-Bold", Helvetica;
    --headline-h3-font-size: 48px;
    --headline-h3-font-style: normal;
    --headline-h3-font-weight: 700;
    --headline-h3-letter-spacing: 0px;
    --headline-h3-line-height: 56px;
    --headline-h4-font-family: "Barlow-Bold", Helvetica;
    --headline-h4-font-size: 34px;
    --headline-h4-font-style: normal;
    --headline-h4-font-weight: 700;
    --headline-h4-letter-spacing: 0px;
    --headline-h4-line-height: 42px;
    --headline-h5-font-family: "Poppins-Bold", Helvetica;
    --headline-h5-font-size: 24px;
    --headline-h5-font-style: normal;
    --headline-h5-font-weight: 700;
    --headline-h5-letter-spacing: 0px;
    --headline-h5-line-height: 36px;
    --headline-h6-font-family: "Poppins-Bold", Helvetica;
    --headline-h6-font-size: 20px;
    --headline-h6-font-style: normal;
    --headline-h6-font-weight: 700;
    --headline-h6-letter-spacing: 0px;
    --headline-h6-line-height: 28px;
    --long-shadow: 40px 120px 120px 0px rgba(0, 0, 0, 0.06);
    --mask: rgba(32, 29, 41, 0.72);
    --opacity90gray-20: rgba(47, 42, 60, 0.9);
    --opacity90gray-22: rgba(28, 25, 36, 0.9);
    --opacity90gray-23: rgba(19, 17, 24, 0.9);
    --orange-1: rgba(253, 243, 237, 1);
    --orange-2: rgba(250, 230, 219, 1);
    --orange-3: rgba(243, 194, 165, 1);
    --orange-4: rgba(234, 144, 93, 1);
    --orange-5: rgba(228, 110, 43, 1);
    --orange-6: rgba(217, 97, 28, 1);
    --orange-7: rgba(199, 89, 26, 1);
    --orange-8: rgba(181, 81, 23, 1);
    --paragraph-bold-font-family: "Poppins-Bold", Helvetica;
    --paragraph-bold-font-size: 16px;
    --paragraph-bold-font-style: normal;
    --paragraph-bold-font-weight: 700;
    --paragraph-bold-letter-spacing: 0px;
    --paragraph-bold-line-height: 24px;
    --paragraph-italic-font-family: "Poppins-Italic", Helvetica;
    --paragraph-italic-font-size: 16px;
    --paragraph-italic-font-style: italic;
    --paragraph-italic-font-weight: 400;
    --paragraph-italic-letter-spacing: 0px;
    --paragraph-italic-line-height: 24px;
    --paragraph-medium-font-family: "Poppins-Medium", Helvetica;
    --paragraph-medium-font-size: 16px;
    --paragraph-medium-font-style: normal;
    --paragraph-medium-font-weight: 500;
    --paragraph-medium-letter-spacing: 0px;
    --paragraph-medium-line-height: 24px;
    --paragraph-medium-link-font-family: "Poppins-Medium", Helvetica;
    --paragraph-medium-link-font-size: 16px;
    --paragraph-medium-link-font-style: normal;
    --paragraph-medium-link-font-weight: 500;
    --paragraph-medium-link-letter-spacing: 0px;
    --paragraph-medium-link-line-height: 24px;
    --paragraph-regular-font-family: "Poppins-Regular", Helvetica;
    --paragraph-regular-font-size: 16px;
    --paragraph-regular-font-style: normal;
    --paragraph-regular-font-weight: 400;
    --paragraph-regular-letter-spacing: 0px;
    --paragraph-regular-line-height: 24px;
    --paragraph-regular-link-font-family: "Poppins-Regular", Helvetica;
    --paragraph-regular-link-font-size: 16px;
    --paragraph-regular-link-font-style: normal;
    --paragraph-regular-link-font-weight: 400;
    --paragraph-regular-link-letter-spacing: 0px;
    --paragraph-regular-link-line-height: 24px;
    --paragraph-strike-font-family: "Poppins-Regular", Helvetica;
    --paragraph-strike-font-size: 16px;
    --paragraph-strike-font-style: normal;
    --paragraph-strike-font-weight: 400;
    --paragraph-strike-letter-spacing: 0px;
    --paragraph-strike-line-height: 24px;
    --primary-1: rgba(245, 237, 253, 1);
    --primary-2: rgba(234, 218, 251, 1);
    --primary-3: rgba(213, 182, 246, 1);
    --primary-4: rgba(192, 145, 242, 1);
    --primary-5: rgba(168, 105, 237, 1);
    --primary-6: rgba(150, 72, 234, 1);
    --primary-7: rgba(140, 54, 231, 1);
    --primary-8: rgba(129, 36, 229, 1);
    --puple-1: rgba(245, 237, 253, 1);
    --puple-2: rgba(234, 218, 251, 1);
    --puple-3: rgba(213, 182, 246, 1);
    --puple-4: rgba(192, 145, 242, 1);
    --puple-5: rgba(168, 105, 237, 1);
    --puple-6: rgba(150, 72, 234, 1);
    --puple-7: rgba(140, 54, 231, 1);
    --puple-8: rgba(129, 36, 229, 1);
    --red-1: rgba(255, 235, 238, 1);
    --red-2: rgba(255, 214, 220, 1);
    --red-3: rgba(255, 173, 186, 1);
    --red-4: rgba(255, 133, 151, 1);
    --red-5: rgba(255, 58, 88, 1);
    --red-6: rgba(255, 31, 64, 1);
    --red-7: rgba(255, 10, 47, 1);
    --red-8: rgba(245, 0, 37, 1);
    --shadow-1: 4px 8px 16px 0px rgba(69, 79, 89, 0.04);
    --shadow-2: 8px 16px 24px 0px rgba(69, 79, 89, 0.04);
    --shadow-3: 12px 20px 24px 0px rgba(69, 79, 89, 0.08);
    --sub-title-1-font-family: "Poppins-Regular", Helvetica;
    --sub-title-1-font-size: 18px;
    --sub-title-1-font-style: normal;
    --sub-title-1-font-weight: 400;
    --sub-title-1-letter-spacing: 0px;
    --sub-title-1-line-height: 28px;
    --sub-title-2-font-family: "Poppins-Regular", Helvetica;
    --sub-title-2-font-size: 16px;
    --sub-title-2-font-style: normal;
    --sub-title-2-font-weight: 400;
    --sub-title-2-letter-spacing: 0px;
    --sub-title-2-line-height: 24px;
    --title-1-font-family: "Poppins-Medium", Helvetica;
    --title-1-font-size: 18px;
    --title-1-font-style: normal;
    --title-1-font-weight: 500;
    --title-1-letter-spacing: 0px;
    --title-1-line-height: 28px;
    --title-2-font-family: "Poppins-Medium", Helvetica;
    --title-2-font-size: 16px;
    --title-2-font-style: normal;
    --title-2-font-weight: 500;
    --title-2-letter-spacing: 0px;
    --title-2-line-height: 24px;
    --top-shadow: 0px -8px 16px 0px rgba(196, 196, 196, 0.08);
    --transparent: rgba(0, 0, 0, 0);
    --white: rgba(255, 255, 255, 1);
    --yellow-1: rgba(255, 247, 235, 1);
    --yellow-2: rgba(255, 239, 214, 1);
    --yellow-3: rgba(255, 214, 153, 1);
    --yellow-4: rgba(255, 190, 92, 1);
    --yellow-5: rgba(255, 171, 46, 1);
    --yellow-6: rgba(255, 157, 10, 1);
    --yellow-7: rgba(245, 147, 0, 1);
    --yellow-8: rgba(224, 135, 0, 1);
}


.text-custom {
    background: linear-gradient(74deg, #85FFC4 2.11%, #5CC6FF 42.39%, #BC85FF 85.72%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
