@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-gradient: linear-gradient(74deg, #85FFC4 39.11%, #5CC6FF 42.39%, #BC85FF 55.72%);
}


.gradient-text {
    background: var(--base-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h1 {
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Barlow, sans-serif;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 112% */
}